/* background image for home section */
.home {
    background: black url(../images/kananaskis15.jpg) bottom center no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* main title */
.home-header {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    position: absolute;
    color: black;
}

/* remove padding around link section */
.home-links {
    padding: 0;
}

/* link elements */
.home-links li {
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    list-style: none;
}

/* link color */
.home-links a {
    color: purple;
}

/* positioning for footer */
#footer {
    padding: 25px 0;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
